*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(232, 214, 217);
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    display: flex;
}
.fondo{
    position: absolute;
    top:-30px;
    right: 0px;
}
.manchas{
    position: absolute;
    top: 200px;
    right: 20px;
}
.cafe {
    position: absolute;
    top: 50px;
    right: 160px;
    transition: transform 0.3s ease-in-out;
    animation: wobble 2s ease-in-out;
}
.cafe:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
button:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
    color: rgb(232, 214, 217);
    background-color: rgb(189, 122, 59);
}
h1:hover{
    color: rgb(189, 122, 59);
    transition: all 0.3s ease 0s;

}
.cadauno:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
.flor {
    position: absolute;
    top: 0px;
    height: 280px;
    left: 230px;
    animation: bajar 2s ease-in-out forwards;
}

.texto{
    margin: 200px;
    margin-bottom: 160px;
}
h1{
    font-size: 150px;
}
.texto p{
    font-size: 35px;
    margin-top: 20px;
}
button{
    padding: 20px 40px;
    font-size: 30px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50px;
    margin-top: 40px;
    transition: transform 0.3s ease-in-out;
}

.tabla{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.cadauno{
    display: flex;
    background-color: white;
    border-radius: 75px 100px 100px 75px;
    width: 400px;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}
.cadauno div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 30px;
}
h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.cadauno p{
    font-size: 20px;
}
#primero{
    margin-left: 10%;
}
#ultimo{
    margin-right: 10%;
}

@keyframes bajar {
    0% {
      top: -300px;
    }
    100% {
      top: 0px;
    }
}
@keyframes wobble {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(-10deg) scale(1.04);
    }
    50% {
      transform: rotate(0deg) scale(1);
    }
    75% {
      transform: rotate(10deg) scale(1.04);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
}

/* PARA COMPUTADORES */
@media(max-width: 1400px){
    .fondo{
        height: 500px;
        top: 0px;
    }
    .manchas{
        position: absolute;
        top: 100px;
        right: 20px;
        height: 300px;
    }
    .cafe{
        position: absolute;
        top: 40px;
        right: 120px;
        height: 400px;
    }
    .flor{
        position: absolute;
        top: 15px;
        height: 150px;
        left: 240px;
    }

    .texto{
        margin: 0px;
        margin-top: 120px;
        margin-left: 200px;
        margin-bottom: 150px;
    }
    h1{
        font-size: 100px;
    }
    .texto p{
        font-size: 23px;
        margin-top:10px;
    }
    button{
        padding: 15px 40px;
        font-size: 20px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 40px;
        margin-top: 30px;
    }


    .tabla{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
    .cadauno{
        display: flex;
        background-color: white;
        border-radius: 75px 100px 100px 75px;
        width: 300px;
        justify-content: space-between;
    }
    .cadauno img{
        height: 110px;
    }
    .cadauno div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-right: 30px;
    }
    h2{
        font-size: 25px;
        margin-bottom: 5px;
    }
    .cadauno p{
        font-size: 12px;
    }
    #primero{
        margin-left: 15%;
    }
    #ultimo{
        margin-right: 10%;
    }
}
    
/* PARA CELULARES */
@media(max-width: 600px){
    .fondo{
        position: absolute;
        top:0px;
        right: 0px;
        height: 350px;
    }
    .manchas{
        position: absolute;
        top: 60px;
        right: 20px;
        height: 200px;
    }
    .cafe{
        position: absolute;
        top: 50px;
        right: 100px;
        height: 250px;
    }
    .flor{
        position: absolute;
        top: 00px;
        height: 100px;
        left: 0px;
    }


    .texto{
        margin: 10px;
        margin-top: 370px;
    }
    h1{
        font-size: 50px;
    }
    .texto p{
        font-size: 20px;
        margin-top: 0px;
    }
    button{
        padding: 5px 10px;
        font-size: 18px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 100px;
    }


    .tabla{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        margin-left: 10px;
        left: 5px;
    }
    .cadauno{
        display: flex;
        background-color: white;
        border-radius: 75px 30px 30px 75px;
        width: 380px;
        justify-content: space-between;
        margin-top: 10px;
    }
    .cadauno div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    h2{
        font-size: 25px;
        margin-bottom: 5px;
    }
    .cadauno p{
        font-size: 18px;
    }
    #primero{
        margin-left: 0%;
    }
    #ultimo{
        margin-right: 0%;
    }
}